.container {
  display: flex;
  justify-content: flex-start;

  gap: 100px;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1280px;
}


.container-gray {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #ffffff;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}









.text-container {
  white-space: nowrap;
  user-select: none;
}

.text-top {
  position: absolute;
  font: inter;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate(2px, -2px);
  z-index: -1;
  color: var(--secondary);
}

.text-bot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate(-2px, 2px);
  z-index: -1;
  color: var(--tertiary);
}

.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.square1 {
  z-index: 0;
  top: -50px;
  width: 200px;
  height: auto;
  left: 100px;
}





.MyAwesomeParallax {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: max-content;
  height: max-content;
}

.MyAwesomeParallax2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}