@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bebas Neue';
  src: url('https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXoo6ut7e_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf') format('truetype');
}

:root {

  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.87);

  --body-background-color: #141414;
  --body-text-color: #ffffff;
  --primary: #001c30;
  --secondary: #176b87;
  --tertiary: #64ccc5;
  --highlight: #dafffb;
  margin: 0;
  padding: 0;

  background-color: var(--body-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme="light"] {
  color: rgba(0, 0, 0, 0.87);
  --body-background-color: #ffffff;
  --body-text-color: #000000;
  --primary: #121212;
  --secondary: #fc7171;
  --tertiary: #7177fc;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}


body {
  scrollbar-width: none;
}